summary {
    cursor: pointer;
    padding: 12px 0px;
}

summary:hover h2,
details[open] summary h2 {
    text-decoration: underline;
}

summary h2 {
    display: inline;
    margin-left: 10px;
    position: relative;
}

summary::-webkit-details-marker,
summary::marker {
    color: var(--color-primary);
}

.summary-content {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid var(--color-border);
}

details p {
    margin: 0;
    padding: 12px 28px;
}

details blockquote {
    margin-left: 20px;
}
