:root {
    /* Greys */
    --grey-1000: #000000;
    --grey-995: #050505;
    --grey-990: #0a0a0a;
    --grey-980: #0d0d0d;
    --grey-970: #0d0d0d;
    --grey-950: #0d0d0d;
    --grey-900: #1a1a1a;
    --grey-850: #232323;
    --grey-800: #323232;
    --grey-750: #414141;
    --grey-700: #505050;
    --grey-650: #5f5f5f;
    --grey-600: #767676;
    --grey-550: #8a8a8a;
    --grey-500: #878787;
    --grey-450: #9a9a9a;
    --grey-400: #afafaf;
    --grey-350: #c4c4c4;
    --grey-300: #bbbbbb;
    --grey-250: #c4c4c4;
    --grey-200: #c9c9c9;
    --grey-150: #d6d6d6;
    --grey-100: #e2e2e2;
    --grey-80: #e9e9e9;
    --grey-50: #ededed;
    --grey-40: #eeeded;
    --grey-30: #f4f4f4;
    --grey-20: #f9f9f9;
    --grey-10: #f4f4f4;
    --grey-5: #fafafa;

    /* Reds */
    --color-darkest-red: #581507;
    --red-dark: #a11f05;
    --red: #db3121;
    --red-orange: #f52a00;
    --red-light: #f7e4e6;
    --red-lightest: #fff5f4;
    --color-warning: #ef3c52;

    /* Yellows */
    --yellow: #f3ad2e;
    --search-hilight: #ffe18f;
    --yellow-light: #fff8ce;
    --yellow-lightest: #fffced;

    /* blues */
    --blue-neon: #5e57ea;
    --blue-neon-light: #8883e2;
    --blue-neon-dark: #312e77;
    --blue-neon-darkest: #252359;
    --blue-navy-dark: #10234b;
    --blue-navy: #204595;
    --blue-medium: #2f58b8;
    --blue: #0266c8;
    --cyan: #007dc3;
    --cyan-light: #00afef;
    --blue-light: #edf6fe;
    --blue-lightest: #f1faff;

    /* Greens */
    --green-dark: #054711;
    --green: #2a7d2a;
    --green-light: #d4ebce;
    --color-lightest-green: #f5f8f0;

    /* violets */
    --color-darkest-violet-blue: #171832;
    --violet-dark-blue: #444675;
    --violet-blue: #474aad;
    --color-light-violet-blue: #8c8eb0;
    --color-lightest-violet-blue: #f0f0ff;

    /* Oranges */
    --red-orange: #eb5f5f;
    --color-bright-orange: #ff6600;
    --orange: #faa217;
    --bg-light-orange: #fff3e5;

    /* Purples */
    --purple: #9d4098;
    --purple-light: #f9e5ff;
    --color-light-pink: #fde3ff;
    --color-white: #ffffff;

    /* Text */
    --text-color: var(--grey-750);
    --label-color: var(--grey-600);
    --label-color-light: #909090;

    /* Primary */
    --color-primary: var(--blue);
    --primary-hilight: var(--blue-lightest);
    --primary-highlight-outline: var(--blue-navy);

    /* Secondary */
    --color-secondary: #e89613;

    /* Tertiary */
    --color-tertiary: var(--violet-blue);

    /* Borders */
    --border-color: #e9e9e9;
    --border-dark-color: var(--grey-250);
    --border-light-color: var(--grey-100);
}
