:root {
    --font-xxs: 10px;
    --font-xs: 11px;
    --font-s: 12px;
    --font-m: 14px;
    --font-l: 16px;
    --font-xl: 18px;
    --font-xxl: 24px;
    --font-3xl: 28px;
    --font-4xl: 32px;
    --font-5xl: 36px;
}
